@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dynalight&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Markazi+Text:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,900;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Shojumaru&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

body {
    margin: 0;
    overflow-x: hidden; 
}

.main-container {
    display: flex;
    height: auto;
}

/* sidenav */

.side-nav {
     background-color: blue;
     width: 250px;
     flex: 0 0 auto;
     height: 100vh;
}

.side-nav-fixed {
    background-color: white;
    width: 250px;
    position: fixed;
    height: 100%;
}

.mcdo-logo-container {
    display: flex;
    background-color: rgb(255, 85, 55);
    justify-content: center;
}

.mcdo-logo {
    margin: 0;
    padding: 20.8px 0;
    font-family: Fira Sans;
    color: yellow;
    font-weight: 800;
}

.menu-container {
    display: flex;
    background-color: white;
    margin: 0 5px;
    margin-bottom: 25px;
    border-left: rgb(70, 70, 70) 5px solid;
    
}

.first-menu {
    margin-top: 20px;
}

#this {
    border-left: rgb(255, 21, 21) 5px solid;
    background-color: rgb(243, 243, 243)
}

.menu-container:hover {
    transition: .2s;
    background-color: rgb(243, 243, 243);
}

.menu {
    text-decoration: none;
    padding: 8px 0;
    padding-left: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    color: black;
    width: 100%;
}

/* topmain */

.top-main {
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 100%;
}

.top-nav {
    display: flex;
    align-items: center;
    background-color: rgb(255, 217, 0);
    width: 100%;
    height: 80px;
    flex: 0 0 auto;
    position: sticky;
    top: 0;
}

.top-nav h2 {
    margin: 0;
    margin-left: 15px;
    color: rgb(255, 85, 55);
    font-family: Poppins;
}


/* mainbody */

.main-body {
    background-color: white;
    width: auto;
    height: 100%;
    box-shadow: 3px 3px 12px 2px rgb(196, 196, 196) inset;
    padding: 20px;
}

.breakfast-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.food-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;
    box-shadow: 3px 3px 12px 2px rgb(226, 226, 226) inset;
    padding-top: 20px;
    border-radius: 5px;
}

#food {
    border: red 2px solid;
}

/* .food-container img {
} */

.text-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.text-container p{
    font-family: Nunito Sans;
    font-weight: 600;
    padding: 10px 15px;
}

