@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dynalight&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Markazi+Text:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,900;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Shojumaru&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* cd C:\Enoch\Programming\myProjects\POS-McDo */

body {
    margin: 0;
    overflow-x: hidden; 
}

svg {
    display: flex;
    align-items: center;
    fill: rgb(255, 223, 217);
    cursor: pointer;
}

.main-container {
    display: flex;
    min-height: 100vh;
}

/* sidenav */

.side-nav {
     background-color: blue;
     width: 250px;
     flex: 0 0 auto;
     height: 100vh;
}

.side-nav-fixed {
    background-color: white;
    width: 250px;
    position: fixed;
    z-index: 12;
    height: 100%;
}

.mcdo-logo-container {
    display: flex;
    background-color: rgb(255, 85, 55);
    justify-content: center;
}

.mcdo-logo {
    margin: 0;
    padding: 20.8px 0;
    font-family: Fira Sans;
    color: yellow;
    font-weight: 800;
}

.menu-container {
    display: flex;
    background-color: white;
    margin: 0 5px;
    margin-bottom: 25px;
    border-left: rgb(70, 70, 70) 5px solid;
}

.first-menu {
    margin-top: 20px;
}

#this {
    border-left: rgb(255, 21, 21) 5px solid;
    background-color: rgb(243, 243, 243)
}

.menu-container:hover {
    transition: .2s;
    background-color: rgb(243, 243, 243);
}

.menu {
    text-decoration: none;
    padding: 8px 0;
    padding-left: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    color: black;
    width: 100%;
}

/* topmain */

.top-main {
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 100%;
}

.top-nav {
    display: flex;
    align-items: center;
    background-color: rgb(255, 217, 0);
    width: 100%;
    height: 80px;
    flex: 0 0 auto;
    position: sticky;
    top: 0;
}

.top-nav h2 {
    margin: 0;
    margin-left: 15px;
    color: rgb(255, 85, 55);
    font-family: Poppins;
}


/* mainbody */

.main-body {
    background-color: white;
    width: auto;
    height: 100%;
    box-shadow: 3px 3px 12px 2px rgb(196, 196, 196) inset;
    padding: 20px;
}

.breakfast-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
}

.food-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    flex-grow: 1;
    width: 100%;
    box-shadow: 3px 3px 12px 2px rgb(226, 226, 226) inset;
    padding-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.food-information {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 400px;
    top: 0;
    right: -100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 12px 2px rgb(196, 196, 196);
    transition: .4s ease-in-out;
    cursor: auto;
    z-index: 10;
}

.show-cancel-info {
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: auto;
}

.close-info {
    background-color: red;
    height: fit-content;
    z-index: 11;
    cursor: pointer;
}

.show-info {
    right: 0;
}

.info-container {
    width: 90%;
    height: fit-content;
    text-align: center;
    margin-top: 200px;
}

.info {
    font-family: Poppins;
    font-weight: 400;
    margin: 0;
}

#food {
    border: red 2px solid;
}

/* .food-container img {
} */

.text-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.text-container p{
    font-family: Nunito Sans;
    font-weight: 600;
    padding: 10px 15px;
}

#sidebar-active  {
    display: none;
}

.open-sidebar-button {
    padding: 0 10px;
    padding-left: 15px;
    display: none;
}

.close-sidebar-button {
    padding: 0 8px;
}

.food-container.selected {
    outline: 2px solid red; /* McDonald's yellow 😉 */
    border-radius: 8px;
}


.mobile {
    display: none;
}

@media(max-width: 600px) {
    .side-nav {
        display: none;
    }

    .food-container {
        height: auto;
    }

    img {
        height: 82px;
    }

    .breakfast-container {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    .open-sidebar-button, .close-sidebar-button {
        display: block;
        width: 0%;
        /* background-color: green;  fix this */
    }

    .top-nav h2 {
        margin-left: 0px;
    }

    svg {
        display: flex;
        align-items: center;
        fill: rgb(255, 85, 55);
        cursor: pointer;
    }

    label .close {
        fill: rgb(255, 85, 55);
        background-color: rgb(255, 217, 0);
        border-radius: 5px;
        margin: 10px 0;
        margin-top: 15px;
        margin-left: 5px;
    }

    .links-container {
        display: flex;
        flex-direction: column;
        z-index: 10;
        position: fixed;
        height: 100%;
        width: 220px;
        top: 0;
        left: -100%;
        background-color: white;
        box-shadow: 3px 3px 12px 2px rgb(196, 196, 196);

        transition: .5s ease-in-out;
    }

    #sidebar-active:checked ~ #overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .links-container a {
        color: black;
        width: auto;
        padding: 15px 18px;
    }

    .links-container a:hover {
        transition: .15s;
        color: rgb(255, 85, 55);
    }

    .links-container .line-parent {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .links-container .line {
        height: 2px;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.11);
    }

    .mobile {
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        left: 0;
    }

    #this-mobile {
        color: rgb(255, 85, 55);
    }
}

/* @media(max-width: 533px) {
    .side-nav {
        display: none;
    }

    .food-container {
        height: auto;
        flex: 1; 
        min-width: 200px;
        max-width: calc(48%);
    }

    img {
        height: 82px;
    }
}

@media(max-width: 500px) {
    .side-nav {
        display: none;
    }

    .food-container {
        height: auto;
        flex: 1; 
        min-width: 150px;
        max-width: calc(48%);
    }

    img {
        height: 82px;
    }
}

@media(max-width: 370px) {
    .food-container {
        flex-grow: 1;
        max-width: 100%;
        min-width: 180px;
    }
} */

